{% extends "base.html" %}

{% block title %}My blog - contacts{% endblock %}

{% block content %}
    <h1>Как со мной связаться:</h1>
    <p>email: email@email.com</p>
    <p>phone: +7 123 456-78-90</p>
	<h2>Или оставьте сообщение ниже:</h2>
    <p style="color: red">{{ error }}</p>
    <form method="post" action="/contacts">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Ваше имя" />
        <br /><br />
        <textarea name="text" placeholder="Текст"></textarea>
        <br />
        <input type="submit" value="Опубликовать" />
    </form>
	<h2>Принятые сообщения:</h2>
		<ul>
        {% for message in messages %}
			<li>{{ message.text|safe }}<br>От: <i>{{ message.name|safe }}</i></li>
		{% empty %}
			<li>Пока еще нет сообщений, напишите мне первый!</li>
        {% endfor %}
		</ul>
{% endblock %}
